.receivedMessage {
  background: #D8DEE6;
  border-radius: 15px;
  padding: 0.4rem 2rem;
  position: relative;
}

.receivedMessage:after {
  content: "";
  position: absolute;
  border: 17px solid transparent;
  border-top: 20px solid #D8DEE6;
  border-left: none;
  top: 0px;
  left: 0px;
}

.sentMessages {
  background: #44AB95;
  border-radius: 15px;
  padding: 0.4rem 2rem;
  color: #fff;
  position: relative;
}

.sentMessages:after {
  content: "";
  position: absolute;
  border: 17px solid transparent;
  border-top: 11px solid #44AB95;
  border-right: none;
  bottom: -22px;
  right: 3px;
}

.reMessage {
  display: flex;
}